{% extends "_layout/app" %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Thank you</h1>
                {% if craft.app.session.hasFlash('notice') %}
                    <p class="message notice text-white" style="font-weight: bold">{{ craft.app.session.getFlash('notice') }}</p>
                {% endif %}
                
            </div>
        </div>
    </div>
    <!-- Hero End -->

{% endblock %}